{% extends "base.html" %}

{% block title %}
    Judge: index
{% endblock %}

{% block content %}
    {% if questions %}
        <h1 class="ui center aligned icon large header">
            <i class="blue cogs icon"></i>
            Questions
        </h1>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Question</th>
                    <th>Solved</th>
                </tr>
            </thead>
            <tbody>
                {% for question in questions %}
                    <tr>
                        <td>
                            <a class="ui header" href="/{{ question.id }}">
                                {{ question.question_title }}
                            </a>
                        </td>

                        <td>
                            {{ question.question_desc|slice:':50'}} ...
                        </td>

                        <td>
                            {% if question.solved %}
                                <i class="small green checkmark icon"></i>
                            {% else %}
                                <i class="minus icon"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No questions yet</h2>
    {% endif %}
{% endblock %}

