{% extends "base.html" %}

{% block title %}
    Judge: Leaderboard
{% endblock %}

{% block content %}
    <h1 class="ui header">
        Leaderboard
    </h1>

    <table class="ui celled green inverted table">
        <thead>
            <tr>
                <th>Score</th>
                <th>Participant</th>
            </tr>
        </thead>
        <tbody>
            {% for person in participants %}
                <tr 
                {% if forloop.counter == 1 %}
                    style="font-weight:bold;"
                {% endif %}
                >
                    <td>{{ person.score }}</td>        
                    <td>{{ person.user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
