{% extends "base.html" %}

{% block title %}
    Judge: Leaderboard
{% endblock %}

{% block content %}
    <h1 class="ui icon center aligned header">
        <i class="teal trophy icon"></i>
        Leaderboard
    </h1>

    <table class="ui celled table">
        <thead>
            <tr>
                <th>Score</th>
                <th>Participant</th>
            </tr>
        </thead>
        <tbody>
            {% for person in participants %}
                <tr 
                {% if person.user.id == request.user.id %}
                    class="positive" 
                {% endif %}
                >
                    <td>{{ person.score }}</td>        
                    <td>{{ person.user.username }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
