{% extends "base.html" %}

{% block title %}
    Judge: all submissions
{% endblock %}


{% block content %}
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Submit time</th>
                <th>Code</th>
                <th>Question</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for subm in submissions %}
                <tr>
                    <td>{{ subm.submit_time|time }}</td>
                    <td>{{ subm.program|slice:":50" }}</td>
                    <td>
                        <a href="/main/{{ subm.question_answered.id }}">
                            {{ subm.question_answered.question_title }}
                        </a>
                    </td>
                    <td>{{ subm.get_status_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
