<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'semantic/dist/semantic.min.css' %}">

    <link rel="icon" 
      type="image/png" 
      href="{% static 'favicon.png' %}">
    
</head>
<body>
    <div class="ui grid container">
        <div class="column">
            <br>
            <img class="ui centered image" src="{% static 'logo.png' %}">         
            <h1 class="ui center aligned header">EBYTE</h1>       

            {% if messages %}
                {% for message in messages %}
                    <div class="ui message" onclick="this.remove()">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
                

            <div class="ui large pointing secondary menu">
                <a href="/" class="item">
                    Questions
                </a>
                <a href="/submissions" class="item">
                    My Submissions
                </a>
                <a href="/leaderboard" class="item">
                    Leaderboard
                </a>
                <a href="/feed/" class="item">
                    Activity Feed
                </a>

                <div class="right menu">
                    <div class="item">
                        Welcome {{ request.user.username }}
                    </div>
                    {% if request.user.participant %}
                        <div class="item">
                            Score: {{ request.user.participant.score }}
                        </div>
                        <a class="item" href="/logout">
                            Logout
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="ui piled segment">
                {% block content %}
                
                {% endblock %}
            </div>
        </div>
    </div>
    <div class="ui small centered header">
        Made with <i class="small heart icon" style="display: inline; margin:0;"></i> by Sai Vineet and Anurag Sharma
    </div>
</body>
</html>